<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden" style="opacity: 0">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username" readonly="true">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="department">Department:</label>
      <input type="text" formControlName="department" placeholder="department" name="department" class="form-control" id="department">
    </div>

    <div class="form-group">
      <label for="position">Position:</label>
      <input type="text" formControlName="position" placeholder="position" name="position" class="form-control" id="position">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
